{
  "root": true,
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "none",
        "bracketSpacing": true,
        "tabWidth": 2
      }
    ]
  }
}
