{
  "root": true,
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {},
      {
        "usePrettierrc": true
      }
    ],
    "space-before-function-paren": "off"
  }
}
